@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Добре дошли в Моят Магазин!</h1>
        <p class="lead">Тук можете да разгледате нашите продукти и да направите поръчка.</p>
        <hr class="my-4">
        <p>Започнете с преглед на продуктите.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Product" asp-action="Index">
            Разгледай продукти
        </a>
    </div>
</div>
